/* ShowServices.css */
.full-screen-container {
  width: 100vw; /* Set container width to screen width */
  height: 100vh; /* Set container height to screen height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%; /* Make the image fill the container horizontally */
  height: 100%; /* Make the image fill the container vertically */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}
